@charset "UTF-8";

* {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {

    background-color: #00ba00;
    color: rgb(234, 237, 237);
    text-shadow: 1px 1px 1px black;
    padding: 15px;
}

header > h2 {

    padding-top: 10px;
    padding-bottom: 10px;
}

header > .flex-container {

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    background-image: url("images/natureza.jpg");
    background-repeat: no-repeat;
    border: 2px solid #04ff04;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header > .flex-container > .flex-item1 {

    background-image: url("images/natureza.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 350px;
}
p {
    text-indent: 15px;
}
main {

    padding: 7px;
}

main > h2 {

    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

main > h3 {

    padding: 10px;
}

main > .saiba-mais {

    padding: 25px;
}

main > .saiba-mais > a {

    border: 2.5px solid gray;
    padding: 10px;
    text-decoration: none;
    color: gray;
    border-radius: 10px;
}

main > .saiba-mais > a:hover {

    background-color: #04c304;
    border: 2.5px solid gray;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: 0.7s;
}

footer {

    background-color: #006b00;
    padding: 15px;
    color:white;
}

footer > p {

    text-indent: 0;
}

footer > p > a {

    color:#04ff04
}